.box {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: rgb(0, 0, 0);
	cursor: pointer;
}

.cvInput {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 500px;
	min-width: 500px;
	border: 1px solid black;
	border-radius: 8px;
}
